<a href="https://colab.research.google.com/github/aeyjeyaryan/Python_ML/blob/main/OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Students:
  def __init__(self,name,address,roll): #self is the object whih is to be print
     self.name = name
     self.address = address
     self.roll = roll

Aryan = Students("Aryan","Nepal","1123231")
Ayan = Students("Ayan","Bhutan","123124324")

print(Aryan.name, Ayan.name)

Aryan Ayan

In [ ]:
class Student:   #class

    name = ""    #attributes
    age = 0
    roll = 1

student1 = Student()  #object
student1.name = "Joe"
student1.age = 18


student2 = Student()     #object
student2.name = "William"
student2.age = 15


print(student1.name,student1.age)
print(student2.name,student2.age)

Joe 18
William 15

In [ ]:
class student:
  def __init__(self,name,age,roll):
    self.name = name
    self.age = age
    self.roll = roll
student1=student("Joe",18,112324)
student2=student("William",15,1124324)

print(student1.age,student1.name)
print(student2.name,student2.age)

18 Joe
William 15

In [ ]:
class animals:
  def __init__(self,name,kingdom,sound):
    self.name = name
    self.kingdom = kingdom
    self.sound = sound
parrot=animals("Parrot","Aves","Cry")
cow=animals("Cow","Mammalia","Mow")

print(parrot.name,parrot.kingdom,parrot.sound)
print(cow.name,cow.kingdom,cow.sound)

Parrot Aves Cry
Cow Mammalia Mow

In [ ]:
class circle:
  radius = 0.0
  pie = 0.0

  def calculate_area(self):
    print("area=", self.radius*self.radius*self.pie)
  def calculate_perimeter(self):
    print("perimeter=", 2*self.pie*self.radius*self.radius)

circle = circle()

circle.radius = eval(input("enter the radius of the circle : "))
circle.pie = 3.14

circle.calculate_area()
circle.calculate_perimeter()

enter the radius of the circle : 5
area= 78.5
perimeter= 157.0

In [ ]:
Name = input("enter your name ")
Country = input("enter you country ")
DOB = input("enter your date of birth in years : ")
class person:
  def __init__(self,name,country,dob):
    self.name = name
    self.country = country
    self.dob = int(dob)
  def calculate_age(self):
    print(2023-self.dob)

x = person(Name,Country,DOB)

person.calculate_age(x)

enter your name aryan
enter you country nepal
enter your date of birth in years : 2005
18

In [ ]:
class Dogs:
  def __init__(self,name,breed):
    self.name = name
    self.breed = breed
rex=Dogs("Rex","German Shepherd")
buddy=Dogs("Buddy","Labrador")

print(rex.name,rex.breed)
print(f"{buddy.name} is a {buddy.breed}")

Rex German Shepherd
Buddy is a Labrador

In [ ]:
class Elon:
  work = ""
  def job(self):
    print("The work is done!")

class Company(Elon):
  def x(self):
    print("The work is to",self.work)

Neuralink = Company()

Neuralink.work = "work on chip systems"
Neuralink.job()

Neuralink.x()

The work is done!
The work is to work on chip systems

In [ ]:
class vehicles:
  type = ""
  def work(self):
    print("I run on roads")

class kind(vehicles):
  def y(self):
    print("Yes I am a vehicle and I am",self.type)

School_bus = kind()

School_bus.type = "Bus"
School_bus.work()

School_bus.y()

I run on roads
Yes I am a vehicle and I am Bus

In [ ]:
class Vehicle:
  def __init__(self,name,mileage,capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
      return self.capacity*100

class Bus(Vehicle):
  pass

class Car(Vehicle):
  pass




Private_car = Car("Lambo",14,25)
School_bus = Bus("Creta", 12, 52)
print("total fare is:", Private_car.fare())
print("total fare is:", School_bus.fare())

total fare is: 2500
total fare is: 5200

In [ ]:
x = 5

def conditional_return(x):
    if x > 0:
        return "Positive"
    elif x < 0:
        return "Negative"
    else:
        return "Zero"

conditional_return(x)

'Positive'

In [ ]:
#using super()

class Friend1:
  def greet(self):
    print("good morning")

class Friend2(Friend1):
  def greet(self):
    super().greet()
    print("good morning to you too")
Friend2 = Friend2()
Friend2.greet()

good morning
good morning to you too

In [ ]:
class car:
  def __init__(self,name,brand,fuel_type,engine_cap,seats):
    self.fuel_type = fuel_type
    self.seats = seats
    self.name = name
    self.brand = brand
    self.engine_cap = engine_cap

  def show_basic_details(self):
    print("---------------------")
    print("| Name - ",self.name)
    print("---------------------")
    print("| Brand - ",self.brand)
    print("---------------------")

  def show_all_details(self):
    print("| Name - ",self.name)
    print("| Brand - ",self.brand)
    print("| Fuel Type - ",self.fuel_type)
    print("| Engine CC - ",self.engine_cap)
    print("| Seats - ",self.seats)

  def set_brand(self,new_brand):
    self.brand = new_brand

  def set_name(self,new_name):
    self.name = new_name

In [ ]:
magnite = car(name='Magnite',brand='Nissan',fuel_type='Petrol',engine_cap='1000 CC',seats=5)

In [ ]:
magnite.show_all_details()

| Name -  Magnite
| Brand -  Nissan
| Fuel Type -  Petrol
| Engine CC -  1000 CC
| Seats -  5

In [ ]:
baleno = car(name='Baleno',brand='Maruti Suzuki',fuel_type='Petrol',engine_cap='1200 CC',seats=5)

In [ ]:
glanza = baleno

In [ ]:
glanza.show_all_details()

| Name -  Baleno
| Brand -  Maruti Suzuki
| Fuel Type -  Petrol
| Engine CC -  1200 CC
| Seats -  5

In [ ]:
glanza.set_brand("Toyota")
glanza.set_name("Glanza")

In [ ]:
glanza.show_all_details()

| Name -  Glanza
| Brand -  Toyota
| Fuel Type -  Petrol
| Engine CC -  1200 CC
| Seats -  5

In [ ]:
def add(a,b):
  return a+b
print(add(3,4))
print("coding","ninjas")

7
coding ninjas

In [ ]:
#polymorphism in operators

x = 5
y = 5
print(x+y)

x1 = "5"
x2 = "2"
print(x1+x2)

10
52

In [ ]:
#polymorphism
class Car():

     def wheels(self):

       print(4)

     def type(self):

       print("Private Use")

class Bus():

     def wheels(self):

       print(8)

     def type(self):

       print("Public Use")

car = Car()

bus = Bus()

for vehicle in (car,bus):

    vehicle.wheels()

    vehicle.type()

4
Private Use
8
Public Use

In [ ]:
#encapsulation
class Person:
    #constructor
    def __init__(self,name,age):
        self.__name=name         #using private
        self.__age=age

    def display_info(self):
        print(f"the person name is {self.__name} and the age is {self.__age}")


person=Person("aryan",19)

person.display_info()

the person name is aryan and the age is 19

In [ ]:
class Student:

   def __init__(self, name="Tina", marks=50):
      self.__name = name
      self.__marks = marks
   def studentdata(self):
      print ("Name: {} marks: {}".format(self.__name, self.__marks))

s1 = Student()
s2 = Student("Sharan", 25)

s1.studentdata()
s2.studentdata()
print ("Name: {} marks: {}".format(s1.__name, s2.__marks))
print ("Name: {} marks: {}".format(s2.__name, __s2.marks))    #it will cause error because we are calling private outside the class

Name: Tina marks: 50
Name: Sharan marks: 25

AttributeError: 'Student' object has no attribute '__name'

In [ ]:
class Animal:
    def speak(self):
        pass

class Dog(Animal):
    def speak(self):
        return "Woof!"

class Cat(Animal):
    def speak(self):
        return "Meow!"

def sound(animal):
    return animal.speak()

dog = Dog()
cat = Cat()

print(sound(dog))
print(sound(cat))

Woof!
Meow!

In [ ]:
class Duck:
  def talk(self):
    print("quack")

class Human:
  def talk(self):
    print("talk")
def  call_talk(obj):
  obj.talk()

x=Duck()
call_talk(x)
x=Human()
call_talk(x)

quack
talk

In [ ]:
x = "Python"
y = [22,32,54,65,232,123]
z = {"name": "Aryan", "age": 19}

print(len(x))
print(len(y))     #using len a polymorph
print(len(z))

6
6
2

In [ ]:
#abstraction
from abc import ABC, abstractmethod
class BaseClass(ABC):
    @abstractmethod
    def method_1(self):
         #empty body
         pass

pygame 2.5.2 (SDL 2.28.2, Python 3.10.12)
Hello from the pygame community. https://www.pygame.org/contribute.html

error: display Surface quit

In [ ]:
# at (@)abstract is used to call the abstract method
from abc import ABC, abstractmethod
class Students(ABC):
  def __init__(self,name,address,id,gender):
    self.name = name
    self.address = address
    self.id = id
    self.gender = gender
@abstractmethod
def details(self):
  pass
#creating an abstract class through concrete method
def type(self):
  print("average student")

def convert1(self):
  print("a topper")

#creating a child class
class student1(Students):
  def details(self):
    print("name:",self.name)
    print("address:",self.address)
    print("id:",self.id)
    print("gender:",self.gender)

  def english(self):
    print("out of syllabus")

stu1=student1("raman","haryana","121","male")

stu1.details()
stu1.english()
stu1.type()

name: raman
address: haryana
id: 121
gender: male
out of syllabus

AttributeError: 'student1' object has no attribute 'type'

In [ ]:
from abc import *
class x(ABC):
  @abstractmethod
  def calculate(self,y):
    pass

class sub1(x):
  def calculate(self,y):
    print('square value= ',y*y)

import math
class sub2(x):
  def calculate(self,y):
    print("square root= ",math.sqrt(y))

class sub3(x):
  def calculate(self,y):
    print("cube value= ",y**3)

obj1=sub1()
obj1.calculate(16)
obj2=sub2()
obj2.calculate(16)
obj3=sub3()
obj3.calculate(16)

In [ ]:
class Student:
  roll = "0"
  name = "x"
  marks_math = 0
  marks_phy = 0
  marks_chem = 0
  total_marks = 0
  avg_marks= 0.0
  def show(self):
    print(self.roll)
    print(self.name)
  def calculate(self):
    self.total_marks = self.marks_math + self.marks_chem + self.marks_phy
    print(total_marks)

  def setData(self,m1,m2,m3,m4):
    self.m1 = 92
    self.m2 = 99
    self.m3 = 98
    self.m4 = 99

In [ ]:
import turtle

# Set initial position
turtle.penup ()
turtle.left (90)
turtle.fd (200)
turtle.pendown ()
turtle.right (90)

# flower base
turtle.fillcolor ("red")
turtle.begin_fill ()
turtle.circle (10,180)
turtle.circle (25,110)
turtle.left (50)
turtle.circle (60,45)
turtle.circle (20,170)
turtle.right (24)
turtle.fd (30)
turtle.left (10)
turtle.circle (30,110)
turtle.fd (20)
turtle.left (40)
turtle.circle (90,70)
turtle.circle (30,150)
turtle.right (30)
turtle.fd (15)
turtle.circle (80,90)
turtle.left (15)
turtle.fd (45)
turtle.right (165)
turtle.fd (20)
turtle.left (155)
turtle.circle (150,80)
turtle.left (50)
turtle.circle (150,90)
turtle.end_fill ()

# Petal 1
turtle.left (150)
turtle.circle (-90,70)
turtle.left (20)
turtle.circle (75,105)
turtle.setheading (60)
turtle.circle (80,98)
turtle.circle (-90,40)

# Petal 2
turtle.left (180)
turtle.circle (90,40)
turtle.circle (-80,98)
turtle.setheading (-83)

# Leaves 1
turtle.fd (30)
turtle.left (90)
turtle.fd (25)
turtle.left (45)
turtle.fillcolor ("green")
turtle.begin_fill ()
turtle.circle (-80,90)
turtle.right (90)
turtle.circle (-80,90)
turtle.end_fill ()
turtle.right (135)
turtle.fd (60)
turtle.left (180)
turtle.fd (85)
turtle.left (90)
turtle.fd (80)

# Leaves 2
turtle.right (90)
turtle.right (45)
turtle.fillcolor ("green")
turtle.begin_fill ()
turtle.circle (80,90)
turtle.left (90)
turtle.circle (80,90)
turtle.end_fill ()
turtle.left (135)
turtle.fd (60)
turtle.left (180)
turtle.fd (60)
turtle.right (90)
turtle.circle (200,60)
turtle.done()

In [ ]:
def add(x,y):
 return x + y
add(5,6)