<a href="https://colab.research.google.com/github/aeyjeyaryan/Python_ML/blob/main/Some%20practice%20questions%20related%20to%20Python%20Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
C = int(input("enter the temperature in celsius : "))
f = (C*9/5)+32
print(f)

enter the temperature in celsius : 13
55.4

In [ ]:
x = 3
y = 5
swap = (x+y)-x
swap1 = (y+x)-y
print(swap)
print(swap1)

5
3

In [ ]:
for i in range(1500+1,2700+1):
  if i%5 == 0:
    if i%7 == 0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [ ]:
x = eval(input("enter the number "))
fact = 1
for i in range (1,x+1):
  fact=fact*i
print(fact)

enter the number 5
120

In [ ]:
x = 1234
x1 = x
rev = 0
while x>0:
  rev=(rev*10)+(x%10)
  x=x//10
print(rev)

4321

In [ ]:
x = int(input("enter the number of terms"))
a = 0
b = 1
if x<=0:
  print(a)
else:
  print(a,b, end=" ")
  for i in range (2,x+1):
      c=a+b
      print(c, end=" ")
      a=b
      b=c

enter the number of terms5
0 1 1 2 3 5

In [ ]:
#sheet 2
x = "python"
for i in x:
  if i in "A,E,I,O,U,a,e,i,o,u":
    print(i)

o

In [ ]:
  x=str(input("enter the word to know : "))
  for i in enumerate(x):
    print(i)

enter the word to know : python
(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [ ]:
#lists
fruits = ["apple","banana","cherry","berry"]
fruits.append("lychee")
print(fruits)
fruits.pop(1)
print(fruits)
print(fruits[0])
print(fruits[3])

['apple', 'banana', 'cherry', 'berry', 'lychee']
['apple', 'cherry', 'berry', 'lychee']
apple
lychee

In [ ]:
a = (1, 2, 3, 4, 5)
b = [1, 2, 3, 4, 5]

a_list = list(a)
index_to_replace = a_list.index(2)
a_list.pop(index_to_replace)
a_list.insert(index_to_replace, tuple(b))

resulting_tuple = tuple(a_list)

print(resulting_tuple)

(1, (1, 2, 3, 4, 5), 3, 4, 5)

In [ ]:
fruits = ["apple","cherry","berry","peach"]
fruits.append("lychee")
print(fruits)
fruits.pop(2)
print(fruits)
for i in fruits:
  if i == "apple" or i == "peach":
    print(i)

['apple', 'cherry', 'berry', 'peach', 'lychee']
['apple', 'cherry', 'peach', 'lychee']
apple
peach

In [ ]:
class Students:
  def __init__(self,name,address,roll): #self is the object whih is to be print
     self.name = name
     self.address = address
     self.roll = roll

Aryan = Students("Aryan","Nepal","1123231")
Ayan = Students("Ayan","Bhutan","123124324")

print(Aryan.name, Ayan.name)

Aryan Ayan

In [ ]:
class Student:   #class

    name = ""    #attributes
    age = 0
    roll = 1

student1 = Student()  #object
student1.name = "Joe"
student1.age = 18


student2 = Student()     #object
student2.name = "William"
student2.age = 15


print(student1.name,student1.age)
print(student2.name,student2.age)

Joe 18
William 15

In [ ]:
class student:
  def __init__(self,name,age,roll):
    self.name = name
    self.age = age
    self.roll = roll
student1=student("Joe",18,112324)
student2=student("William",15,1124324)

print(student1.age,student1.name)
print(student2.name,student2.age)

18 Joe
William 15

In [ ]:
x = {"boy":"a male human","girl":"a female human"}
print(x["boy"])
print(x["girl"])
print(x.get("boy"))
print(x.pop("boy"))

a male human
a female human
a male human
a male human

In [ ]:
class animals:
  def __init__(self,name,kingdom,sound):
    self.name = name
    self.kingdom = kingdom
    self.sound = sound
parrot=animals("Parrot","Aves","Cry")
cow=animals("Cow","Mammalia","Mow")

print(parrot.name,parrot.kingdom,parrot.sound)
print(cow.name,cow.kingdom,cow.sound)

Parrot Aves Cry
Cow Mammalia Mow

In [ ]:
class circle:
  radius = 0.0
  pie = 0.0

  def calculate_area(self):
    print("area=", self.radius*self.radius*self.pie)
  def calculate_perimeter(self):
    print("perimeter=", 2*self.pie*self.radius*self.radius)

circle = circle()

circle.radius = eval(input("enter the radius of the circle : "))
circle.pie = 3.14

circle.calculate_area()
circle.calculate_perimeter()

enter the radius of the circle : 20
area= 1256.0
perimeter= 2512.0

In [ ]:
Name = input("enter your name ")
Country = input("enter you country ")
DOB = input("enter your date of birth in years : ")
class person:
  def __init__(self,name,country,dob):
    self.name = name
    self.country = country
    self.dob = int(dob)
  def calculate_age(self):
    print(2023-self.dob)

x = person(Name,Country,DOB)

person.calculate_age(x)

enter your name Aryan
enter you country Nepa,
enter your date of birth in years : 1998
25

In [ ]:
class Dogs:
  def __init__(self,name,breed):
    self.name = name
    self.breed = breed
rex=Dogs("Rex","German Shepherd")
buddy=Dogs("Buddy","Labrador")

print(rex.name,rex.breed)
print(f"{buddy.name} is a {buddy.breed}")

Rex German Shepherd
Buddy is a Labrador

In [ ]:
import random